<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="features.html">Features</a>
      <ul>
        <li><a href="nameID.html">Identify your plant by name</a></li>
        <li><a href="#">Find plants for your region</a></li>
      </ul>
    </li>
    <li><a href="authors.html">Authors</a></li>
    <div class="search-box">
      <form action="/search" method="POST">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search..." name = "query">
      </form>
    </div>
  </ul>
  
<div class="le">
  <h1>Garden Guru </h1
      <p>Helps you plan your ideal dream garden, for your spefic climate zone</p>
</div>
</nav>