<html>
<head>
    <title>features of our amazing website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body><nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a>Features</a>
          <ul>
            <li><a href="#">Service 1</a></li>
            <li><a href="#">Service 2</a></li>
            <li><a href="#">Service 3</a></li>
          </ul>
        </li>
        <li><a href="authors.html">Authors</a></li>
      </ul>
    </nav>
  </body>
</html>